$green-dark: #2c3e50;
$green-light: #41b883;
$green-light-faded: #9cdec1;
$white: #ffffff;
$white-selected: #d6d6d6;

$gradient-navy-blue: linear-gradient(120deg, #2c3e50, #00478c);
$gradient-yellow: linear-gradient(120deg, #f7d316 , #ffff00);

$yellow-transparent: rgba(255, 255, 0, 0.5);

$min-window-height: 650px;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
