$dark: #2c3e50;
$light: #FFFFFF;
$white: #ffffff;
$grey0: #E6ECF0;
$grey1: #DCDCDC	;
$grey2: #D3D3D3;
$grey3: #C0C0C0;
$grey4: #A9A9A9;
$grey5: #808080	;
$grey6: #696969	;
$yellow1: #ffff80;
$yellow3: #ffff00;
$yellow5: #f7d316;

$border-color: rgba(0, 0, 0, 0.125);

$gradient-navy-blue: linear-gradient(120deg, #2c3e50, #00478c);
$gradient-yellow: linear-gradient(120deg, $yellow5 , $yellow3);
$gradient-yellow-dark: linear-gradient(120deg, #c5a912 , #d6d601);
$gradient-red: linear-gradient(120deg, #93291E, #ED213A);
$gradient-red-dark: linear-gradient(120deg, #611a13, #bb182c);

$yellow-transparent: rgba(255, 255, 0, 0.5);
$blue-transparent: rgba(0, 123, 255, 0.25);

$min-window-height: 650px;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$border-radius: 0.5rem;
