$green-dark: #2c3e50;
$green-light: #41b883;
$green-light-faded: #9cdec1;
$white: #ffffff;
$white-selected: #d6d6d6;
$grey3: #ced4da;
$grey7: #495057;
$yellow1: #ffff80;
$yellow3: #ffff00;
$yellow5: #f7d316;

$gradient-navy-blue: linear-gradient(120deg, #2c3e50, #00478c);
$gradient-yellow: linear-gradient(120deg, #f7d316 , #ffff00);
$gradient-red: linear-gradient(120deg, #93291E, #ED213A);

$yellow-transparent: rgba(255, 255, 0, 0.5);
$blue-transparent: rgba(0, 123, 255, 0.25);

$min-window-height: 650px;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
